    /*-------------
		General
	-------------*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
    
    html {
        font: normal 16px 'Quicksand', sans-serif;
        color: #555;
    }
    
    ul,
    nav {
        list-style: none;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    /*-------------
		Header
	-------------*/
    
    header {
        background-size: auto;
        background-color: #1b1b1b;
        height: 80px;
        width: 100%;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
        width: 100%;
        justify-content: space-between;
        color: #fff;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    nav {
        background: #1b1b1b;
        height: 80px;
        width: 100%;
    }
    
    img {
        height: 75px;
        width: 75px;
        padding-top: 5px;
    }
    
    nav ul {
        float: right;
        margin-right: 60px;
        padding-top: 2vh;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 20px;
        margin: 0 2px;
    }
    
    nav ul li a {
        color: #f2f2f2;
        font-weight: 500;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    
    @media (max-width: 952px) {
        label.logo {
            font-size: 27px;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 1280px) {
        .checkbtn {
            display: block;
            margin-right: 40px;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(27, 27, 27, 0.8);
            top: 80px;
            left: 100%;
            text-align: center;
            transition: all .5s;
        }
        li {
            position: relative;
            top: 25%;
        }
        nav ul li {
            display: block;
            max-height: 100%;
        }
        nav ul li a {
            font-size: 28px;
        }
        #check:checked~ul {
            left: 0;
        }
        #check::after {
            left: 100%;
        }
    }
    
    header .center {
        flex-grow: 1;
        justify-content: center;
    }
    
    header .navbar-content {
        max-width: 100%;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .navbar-content a {
        color: white;
        padding: 0.6em calc(0.5em * 1.2);
        display: inline-block;
        border: 3px solid transparent;
        position: relative;
        cursor: pointer;
        text-decoration: none;
    }
    
    .navbar-content a .text {
        transform: translate3d(0, -0.2em, 0);
        display: block;
        transition: transform 0.5s cubic-bezier(0.2, 0, 0, 1) 0.5s;
    }
    
    .navbar-content a:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: calc(0.7em * 1.2);
        right: calc(0.7em * 1.2);
        height: 3px;
        background: transparent;
        transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
        transform-origin: left;
    }
    
    .navbar-content .line {
        position: absolute;
        background: red;
    }
    
    .navbar-content .line.-right,
    .navbar-content .line.-left {
        width: 3px;
        bottom: -3px;
        top: -3px;
        transform: scale3d(1, 0, 1);
    }
    
    .navbar-content .line.-top,
    .navbar-content .line.-bottom {
        height: 3px;
        left: -3px;
        right: -3px;
        transform: scale3d(0, 1, 1);
    }
    
    .navbar-content .line.-right {
        right: -3px;
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
        transform-origin: top;
    }
    
    .navbar-content .line.-top {
        top: -3px;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
    }
    
    .navbar-content .line.-left {
        left: -3px;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
    }
    
    .navbar-content .line.-bottom {
        bottom: -3px;
        transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
        transform-origin: right;
    }
    
    .navbar-content a:hover .text,
    .navbar-content a:active .text {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    
    .navbar-content a:hover:after,
    .navbar-content a:active:after {
        transform: scale3d(0, 1, 1);
        right: -3px;
        left: -3px;
        transform-origin: right;
        transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    
    .navbar-content a:hover .line,
    .navbar-content a:active .line {
        transform: scale3d(1, 1, 1);
    }
    
    .navbar-content a:hover .line.-right,
    .navbar-content a:active .line.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
    }
    
    .navbar-content a:hover .line.-top,
    .navbar-content a:active .line.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
    }
    
    .navbar-content a:hover .line.-left,
    .navbar-content a:active .line.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
    }
    
    .navbar-content a:hover .line.-bottom,
    .navbar-content a:active .line.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
    }
    
    .Koptekst {
        margin: auto;
        position: relative;
        text-align: center;
        left: 10%;
    }
    /*-------------
		Section-1
    -------------*/
    
    #Startpagina {
        background-color: #1b1b1b;
        display: grid;
        grid-template-columns: 1fr repeat(4, 250px) 1fr;
        grid-template-rows: 1fr repeat(2, 250px) 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
    
    .div1 {
        grid-area: 2 / 2 / 3 / 3;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div2 {
        grid-area: 2 / 3 / 3 / 4;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div3 {
        grid-area: 2 / 4 / 3 / 5;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div4 {
        grid-area: 2 / 5 / 3 / 6;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div5 {
        grid-area: 3 / 2 / 4 / 3;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div6 {
        grid-area: 3 / 3 / 4 / 4;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div7 {
        grid-area: 3 / 4 / 4 / 5;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .div8 {
        grid-area: 3 / 5 / 4 / 6;
        height: 100%;
        /* border-radius: 25px;
        border: 2px solid red; */
        transition: transform .2s;
        display: inline-block;
        position: relative;
    }
    
    .hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #Startpagina div:hover {
        -ms-transform: scale(1.15);
        /* IE 9 */
        -webkit-transform: scale(1.15);
        /* Safari 3-8 */
        transform: scale(1.15);
    }
    /*-------------
		Section-2
    -------------*/
    /* .background {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: url("https://www.zuivelhoeve.nl/wp-content/uploads/2016/03/Full-HD-Wallpapers-11.jpg");
    } */
    
    #portfolio {
        background-color: #1b1b1b;
    }
    
    .googlelogo {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 20vh;
        height: 7vh;
    }
    
    .img1 {
        width: 100%;
        height: 100%;
    }
    
    .bar {
        margin: 15px auto;
        width: 50vw;
        border-radius: 30px;
        border: 1px solid #dcdcdc;
        background-color: white;
        height: 45px;
    }
    
    .bar:hover {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
    }
    
    .bar:focus-within {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
        outline: none;
    }
    
    .searchbar {
        height: 35px;
        border: none;
        width: 90%;
        font-size: 16px;
        outline: none;
        position: relative;
        left: 5%;
        top: 5px;
    }
    
    .voice {
        height: 20px;
        position: relative;
        width: 25px;
        height: 25px;
        top: 5px;
        left: 10px;
    }
    
    .buttons {
        margin-top: 30px;
    }
    
    .button {
        background-color: #f5f5f5;
        border: none;
        color: #707070;
        font-size: 15px;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        outline: none;
    }
    
    .button:hover {
        border: 1px solid #c8c8c8;
        padding: 9px 19px;
        color: #808080;
    }
    
    .button:focus {
        border: 1px solid #4885ed;
        padding: 9px 19px;
    }
    /*-------------
		Section-3
    -------------*/
    
    #about {
        background-color: #1b1b1b;
    }
    /*-------------
		Section-4
    -------------*/
    
    #contact {
        background-color: #1b1b1b;
    }