    /*-------------
		Script
	-------------*/
    
     :root {
        --headerOpacity: 1;
        --headerScale: 1;
    }
    /*-------------
		General
	-------------*/
    
    html {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 150%;
        line-height: 1.4;
    }
    
    html,
    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }
    
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
    /*-------------
	  Video Header
    -------------*/
    
    .video-header {
        position: absolute;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    
    .video-header,
    .video-header video,
    .video-header .viewport-header {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .video-header video {
        background: #1b1b1b;
        object-fit: cover;
    }
    
    .video-header .viewport-header {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        opacity: var(--headerOpacity);
        transform: scale(var(--headerScale));
    }
    
    .header {
        font-family: "Quicksand", sans-serif;
        color: white;
        line-height: 1.2;
        display: block;
        font-size: 9vw;
        letter-spacing: -0.4vw;
        text-align: center;
    }
    
    .header span {
        color: red;
    }
    /*-------------
	     Main
    -------------*/
    
    main {
        background-color: white;
        position: relative;
        padding: 1rem;
        margin-top: 100vh;
        border-top: 1px solid black;
    }
    
    main::before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        top: -100vh;
    }
    /*-------------
	    Sections
    -------------*/
    
    .section-201 {
        background: white;
    }
    
    .div-201 {
        max-width: 1100px;
        margin: 1rem auto;
    }
    
    .section-201 p {
        color: #1b1b1b;
    }