	/*-------------
		General
	-------------*/
	
	* {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	}
	
	body {
	    height: 100vh;
	    background-color: #1b1b1b;
	}
	
	html {
	    font: normal 16px 'Quicksand', sans-serif;
	    color: #555;
	}
	
	ul,
	nav {
	    list-style: none;
	}
	
	section {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    width: 100%;
	    height: 100vh;
	    padding: 125px 100px;
	}
	/*-------------
		Header
	-------------*/
	
	header {
	    background-size: auto;
	    background-color: #1b1b1b;
	    height: 80px;
	    width: 100%;
	    position: fixed;
	    display: block;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 2147483640;
	    width: 100%;
	    justify-content: space-between;
	    color: #fff;
	}
	
	header img {
	    height: 80px;
	    width: 80px;
	    padding-top: 5px;
	}
	
	header nav {
	    display: flex;
	    z-index: 1;
	    font-size: 20px;
	    flex-direction: row;
	    max-width: 100%;
	}
	
	header .center {
	    flex-grow: 1;
	    justify-content: center;
	}
	
	header .navbar-content {
	    max-width: 100%;
	    padding-left: 2.0vw;
	    padding-right: 2.0vw;
	    height: 100%;
	    width: 100%;
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: stretch;
	}
	
	header .navbar-content ul {
	    display: flex;
	    list-style: none;
	    width: 100%;
	    max-width: 100%;
	    justify-content: flex-end;
	}
	
	header .navbar-content ul li {
	    display: inline-block;
	    padding-left: 1.5vw;
	    padding-right: 1.5vw;
	    padding-top: 1.3vh;
	    padding-bottom: 2.0vh;
	}
	
	header .navbar-content li:first-child {
	    margin-left: 0;
	}
	
	header .navbar-content li:last-child {
	    margin-right: 0;
	}
	
	.navbar-content a {
	    color: white;
	    padding: 0.6em calc(0.5em * 1.2);
	    display: inline-block;
	    border: 3px solid transparent;
	    position: relative;
	    font-size: 1em;
	    cursor: pointer;
	    text-decoration: none;
	}
	
	.navbar-content a .text {
	    transform: translate3d(0, -0.2em, 0);
	    display: block;
	    transition: transform 0.5s cubic-bezier(0.2, 0, 0, 1) 0.5s;
	}
	
	.navbar-content a:after {
	    position: absolute;
	    content: '';
	    bottom: -3px;
	    left: calc(0.7em * 1.2);
	    right: calc(0.7em * 1.2);
	    height: 3px;
	    background: transparent;
	    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
	    transform-origin: left;
	}
	
	.navbar-content .line {
	    position: absolute;
	    background: red;
	}
	
	.navbar-content .line.-right,
	.navbar-content .line.-left {
	    width: 3px;
	    bottom: -3px;
	    top: -3px;
	    transform: scale3d(1, 0, 1);
	}
	
	.navbar-content .line.-top,
	.navbar-content .line.-bottom {
	    height: 3px;
	    left: -3px;
	    right: -3px;
	    transform: scale3d(0, 1, 1);
	}
	
	.navbar-content .line.-right {
	    right: -3px;
	    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
	    transform-origin: top;
	}
	
	.navbar-content .line.-top {
	    top: -3px;
	    transition: transform 0.08s linear 0.43s;
	    transform-origin: left;
	}
	
	.navbar-content .line.-left {
	    left: -3px;
	    transition: transform 0.08s linear 0.51s;
	    transform-origin: bottom;
	}
	
	.navbar-content .line.-bottom {
	    bottom: -3px;
	    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
	    transform-origin: right;
	}
	
	.navbar-content a:hover .text,
	.navbar-content a:active .text {
	    transform: translate3d(0, 0, 0);
	    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
	}
	
	.navbar-content a:hover:after,
	.navbar-content a:active:after {
	    transform: scale3d(0, 1, 1);
	    right: -3px;
	    left: -3px;
	    transform-origin: right;
	    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
	}
	
	.navbar-content a:hover .line,
	.navbar-content a:active .line {
	    transform: scale3d(1, 1, 1);
	}
	
	.navbar-content a:hover .line.-right,
	.navbar-content a:active .line.-right {
	    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
	    transform-origin: bottom;
	}
	
	.navbar-content a:hover .line.-top,
	.navbar-content a:active .line.-top {
	    transition: transform 0.08s linear 0.4s;
	    transform-origin: right;
	}
	
	.navbar-content a:hover .line.-left,
	.navbar-content a:active .line.-left {
	    transition: transform 0.08s linear 0.48s;
	    transform-origin: top;
	}
	
	.navbar-content a:hover .line.-bottom,
	.navbar-content a:active .line.-bottom {
	    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
	    transform-origin: left;
	}
	
	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
	.checkbtn {
	    font-size: 30px;
	    color: white;
	    float: right;
	    line-height: 80px;
	    margin-right: 2vw;
	    cursor: pointer;
	    display: none;
	}
	
	#check {
	    display: none;
	}
	
	@media (max-width: 952px) {
	    label.logo {
	        font-size: 27px;
	    }
	    nav ul li a {
	        font-size: 16px;
	    }
	}
	
	@media (max-width: 1120px) {
	    .checkbtn {
	        display: block;
	        /* margin-right: 40px; */
	    }
	    ul {
	        position: fixed;
	        width: 100%;
	        height: 77.5px;
	        background: #1b1b1b;
	        top: 80px;
	        left: 100%;
	        text-align: center;
	        transition: all .5s;
	    }
	    nav ul li {
	        display: block;
	        line-height: 30px;
	    }
	    nav ul li a {
	        font-size: 20px;
	    }
	    #check:checked~ul {
	        left: 0;
	    }
	}
	/*-------------
		Section-1
    -------------*/
	
	#section-1 .background {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    background-image: url("https://www.zuivelhoeve.nl/wp-content/uploads/2016/03/Full-HD-Wallpapers-11.jpg");
	}