    /*-------------
		General
	-------------*/
    
    * {
        box-sizing: border-box;
    }
    
    html {
        font-family: "Quicksand", sans-serif;
        font-size: 150%;
        line-height: 1.4;
    }
    
    html,
    body {
        height: 100vh;
        width: 100vw;
        /* overflow-x: hidden; */
    }
    
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        font-weight: 400;
    }
    
    body::-webkit-scrollbar {
        display: none;
    }
    /*-------------
	  Video Header
    -------------*/
    
    .video-header {
        position: absolute;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    
    .video-header,
    .video-header video,
    .video-header .viewport-header {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .video-header video {
        background: #1b1b1b;
        object-fit: cover;
    }
    
    .video-header .viewport-header {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        opacity: var(--headerOpacity);
        transform: scale(var(--headerScale));
    }
    
    .header {
        color: white;
        line-height: 1.2;
        display: block;
        font-size: 7vw;
        letter-spacing: -0.4vw;
        text-align: center;
    }
    
    .header span {
        color: red;
    }
    /*-------------
	  Sticky Header
    -------------*/
    
    ul,
    nav {
        list-style: none;
    }
    
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    .sticky+.section-201 {
        padding-top: 102px;
    }
    
    .navbar {
        background-size: auto;
        background-color: #1b1b1b;
        height: 80px;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
        justify-content: space-between;
        color: #fff;
    }
    
    .logo img {
        height: 75px;
        width: 75px;
        padding-top: 5px;
        margin-left: 10px;
    }
    
    nav ul {
        float: right;
        margin-right: 60px;
        margin-top: 0.7rem;
        padding-left: 0px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 20px;
        margin: 0 2px;
    }
    
    nav ul li a {
        color: #f2f2f2;
        font-weight: 500;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 95px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    
    @media (max-width: 1120px) {
        label.logo {
            font-size: 27px;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 1120px) {
        .checkbtn {
            display: block;
            margin-right: 40px;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(27, 27, 27, 0.8);
            top: 63px;
            left: 100%;
            text-align: center;
            transition: all .5s;
        }
        li {
            position: relative;
            top: 25%;
        }
        nav ul li {
            display: block;
            max-height: 100%;
        }
        nav ul li a {
            font-size: 28px;
        }
        #check:checked~ul {
            left: 0px;
        }
        #check::after {
            left: 100%;
        }
    }
    
    @media screen and (min-width: 1120px) {
        .Koptekst {
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 1120px) {
        .Koptekst {
            display: none;
        }
    }
    
    .center {
        flex-grow: 1;
        justify-content: right;
    }
    
    .navbar-content {
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .navbar-content a {
        color: white;
        padding: 0.6em calc(0.5em * 1.2);
        display: inline-block;
        border: 3px solid transparent;
        position: relative;
        cursor: pointer;
        text-decoration: none;
    }
    
    .navbar-content a .text {
        transform: translate3d(0, -0.2em, 0);
        display: block;
        transition: transform 0.5s cubic-bezier(0.2, 0, 0, 1) 0.5s;
    }
    
    .navbar-content a:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: calc(0.7em * 1.2);
        right: calc(0.7em * 1.2);
        height: 3px;
        background: transparent;
        transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
        transform-origin: left;
    }
    
    .navbar-content .line {
        position: absolute;
        background: red;
    }
    
    .navbar-content .line.-right,
    .navbar-content .line.-left {
        width: 3px;
        bottom: -3px;
        top: -3px;
        transform: scale3d(1, 0, 1);
    }
    
    .navbar-content .line.-top,
    .navbar-content .line.-bottom {
        height: 3px;
        left: -3px;
        right: -3px;
        transform: scale3d(0, 1, 1);
    }
    
    .navbar-content .line.-right {
        right: -3px;
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
        transform-origin: top;
    }
    
    .navbar-content .line.-top {
        top: -3px;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
    }
    
    .navbar-content .line.-left {
        left: -3px;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
    }
    
    .navbar-content .line.-bottom {
        bottom: -3px;
        transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
        transform-origin: right;
    }
    
    .navbar-content a:hover .text,
    .navbar-content a:active .text {
        transform: translate3d(0, 0, 0);
        transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }
    
    .navbar-content a:hover:after,
    .navbar-content a:active:after {
        transform: scale3d(0, 1, 1);
        right: -3px;
        left: -3px;
        transform-origin: right;
        transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }
    
    .navbar-content a:hover .line,
    .navbar-content a:active .line {
        transform: scale3d(1, 1, 1);
    }
    
    .navbar-content a:hover .line.-right,
    .navbar-content a:active .line.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
    }
    
    .navbar-content a:hover .line.-top,
    .navbar-content a:active .line.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
    }
    
    .navbar-content a:hover .line.-left,
    .navbar-content a:active .line.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
    }
    
    .navbar-content a:hover .line.-bottom,
    .navbar-content a:active .line.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
    }
    
    .Koptekst {
        margin: auto;
        position: relative;
        text-align: center;
        color: white;
        left: 150px;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: White;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 2px;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /*-------------
	     Main
    -------------*/
    
    main {
        background-color: white;
        position: relative;
        height: 100%;
        margin-top: 100vh;
    }
    
    main::before {
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        top: -100vh;
    }
    /*-------------
	  Full Page
    -------------*/
    
    .section-201 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
    /*-------------
	  About Me
    -------------*/
    
    .section-202 {
        height: auto;
        width: 100%;
        background-color: white;
    }
    
    .div-101-001 {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    
    .div-102-001 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        padding-right: 0px;
    }
    
    .div-103-001,
    .div-103-002 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-103-001 h3 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 14px;
        text-transform: none;
    }
    
    .div-103-002 h1 {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 14px;
        margin-top: 0;
        text-transform: none;
    }
    
    .div-103-003 {
        border-bottom-style: solid;
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-left-color: red;
        border-top-width: 3px;
        border-right-width: 3px;
        border-left-width: 3px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        margin-bottom: 40px;
        height: 30px;
        width: 70px;
        border-bottom-width: 5px;
    }
    
    .div-103-004 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-103-005 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    @media (max-width: 991px) {
        .div-102-001 {
            width: 100%;
        }
    }
    /*-------------
	    My Work
    -------------*/
    
    .section-203 {
        height: auto;
        width: 100%;
        background-color: #1b1b1b;
        color: white;
    }
    
    .div-201-001 {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    
    .div-202-001 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        padding-right: 0px;
    }
    
    .div-203-001 {
        height: auto;
        width: 100%;
        float: left;
        color: White;
    }
    
    .div-203-001 h1 {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 14px;
        text-transform: none;
    }
    
    .div-203-002 {
        border-bottom-style: solid;
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-left-color: red;
        border-top-width: 3px;
        border-right-width: 3px;
        border-left-width: 3px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        margin-bottom: 40px;
        height: 30px;
        width: 70px;
        border-bottom-width: 5px;
    }
    
    .div-203-003 {
        height: auto;
        width: 100%;
        float: left;
        color: White;
    }
    
    .div-203-004 {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* align-items: flex-start; */
        justify-content: left;
        line-height: 1vh;
    }
    
    .div-203-005 {
        height: 40vh;
        margin-bottom: 10px;
        margin-top: 0px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .div-203-006 {
        background-size: cover;
        width: 50%;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .div-203-007 {
        background-size: cover;
        width: 50%;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .div-203-008 {
        background-size: cover;
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .div-204-001 {
        box-sizing: content-box;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: inline-block;
        color: white;
        position: relative;
        background-color: #1b1b1b;
    }
    
    .div-204-002 {
        background-image: url(../img/scottpols.nl.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.4s;
    }
    
    .div-204-003 {
        background-image: url(../img/spoorpark.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.4s;
    }
    
    .div-204-004 {
        background-image: url(../img/Verbeeten.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.4s;
    }
    
    .div-205-001 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
    }
    
    .div-206-001 {
        position: absolute;
        bottom: 0px;
        left: 20px;
        opacity: 0.0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .div-204-001:hover .div-204-002,
    .div-204-001:hover .div-204-003,
    .div-204-001:hover .div-204-004,
    .div-204-001:hover .div-204-005,
    .div-204-001:hover .div-204-006 {
        transform: scale(1.1);
    }
    
    .div-204-001:hover .div-205-001 {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .div-204-001:hover .div-206-001 {
        transform: translateY(-20px);
        opacity: 1.0;
    }
    
    .div-204-001:hover {
        cursor: pointer;
    }
    
    .div-206-001 p {
        font-size: 2.5vh;
    }
    
    .div-206-001>p:nth-child(2) {
        font-size: 3vh;
    }
    
    .opacity-low {
        opacity: 0.6;
    }
    
    .div-207-001 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
    }
    
    .div-207-002 {
        font-weight: 500;
        font-size: 18px;
    }
    
    .div-207-003 {
        font-weight: 500;
        line-height: 0.7;
        font-size: 48px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .div-207-004 {
        font-weight: 300;
        margin-top: 30px;
        font-size: 19px;
        margin-bottom: 0px;
    }
    
    .div-207-005 {
        font-size: 19px;
        margin-top: 60px;
        margin-bottom: 40px;
        background-color: white;
        padding: 18px 28.8px;
        border-radius: 15px;
        color: #1b1b1b;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .div-207-005:hover {
        background-color: red;
        color: white;
    }
    
    @media (max-width: 991px) {
        .div-202-001 {
            width: 100%;
        }
    }
    
    @media (max-width: 991px) {
        .div-203-005 {
            flex-direction: row;
            display: flex;
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-width: 991px) {
        .div-203-006 {
            width: 100%;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            height: 21vh;
            line-height: 1vh;
            padding-bottom: 5px;
        }
    }
    
    @media (max-width: 991px) {
        .div-203-007 {
            height: 21vh;
            width: 100%;
            padding-left: 0px;
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 0px;
            line-height: 1vh;
        }
    }
    
    @media (max-width: 991px) {
        .div-203-008 {
            height: 21vh;
            width: 100%;
            padding-left: 0px;
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 0px;
            line-height: 1vh;
        }
    }
    
    @media (max-width: 991px) {
        .div-206-001 {
            position: absolute;
            bottom: 10px;
            left: 20px;
            opacity: 1.0;
            font-size: 5vh;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }
    
    @media (max-width: 991px) {
        .div-205-001 {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    /*-------------
	  Online Game
    -------------*/
    
    .section-204 {
        height: auto;
        width: 100%;
        background-color: White;
        color: #1b1b1b;
    }
    
    .div-301-001 {
        padding-top: 100px;
        padding-bottom: 150px;
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    
    .div-302-001 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        padding-right: 0px;
    }
    
    .div-303-001 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-303-001 h1 {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 14px;
        text-transform: none;
    }
    
    .div-303-002 {
        border-bottom-style: solid;
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-left-color: red;
        border-top-width: 3px;
        border-right-width: 3px;
        border-left-width: 3px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        margin-bottom: 40px;
        height: 30px;
        width: 70px;
        border-bottom-width: 5px;
    }
    
    .div-303-003 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-303-004 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-303-005 {
        height: auto;
        width: 100%;
        float: left;
        color: #1b1b1b;
    }
    
    .div-303-006 {
        font-size: 19px;
        margin-top: 60px;
        margin-bottom: 40px;
        background-color: #1b1b1b;
        padding: 18px 28.8px;
        border-radius: 15px;
        color: White;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    
    .div-303-006:hover {
        background-color: red;
        color: white;
    }
    
    @media (max-width: 991px) {
        .div-302-001 {
            width: 100%;
        }
    }
    /*-------------
	    Footer
    -------------*/
    
    .section-205 {
        height: auto;
        width: 100%;
        background-color: #1b1b1b;
        color: white;
    }
    
    .div-401-001 {
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }
    
    .div-402-001 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        padding-right: 0px;
    }
    
    .div-403-001 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .div-403-002 {
        width: 100%;
        border-top-style: solid;
        border-top-color: white;
        border-top-width: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .div-404-001 {
        padding-top: 36px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        letter-spacing: 1.5px;
    }
    
    .div-405-001 {
        width: 25%;
        padding-left: 0px;
        padding-top: 0px;
    }
    
    .div-406-001 {
        font-weight: 500;
        font-size: 19px;
    }
    
    .div-406-001 a {
        color: white;
        text-decoration: none;
    }
    
    .div-406-002 {
        width: 25%;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        align-items: flex-end;
        text-align: right;
        flex-direction: column;
        display: flex;
        padding-bottom: 0px;
        margin-right: 0px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        line-height: auto;
        font-weight: 500;
        font-size: 19px;
    }
    
    .div-406-002 a {
        color: white;
        text-decoration: none;
    }
    
    @media (max-width: 991px) {
        .div-405-001,
        .div-406-002 {
            width: 100%;
        }
    }
    
    @media (max-width: 991px) {
        .div-405-001 {
            flex-direction: column;
            display: flex;
        }
    }
    
    @media (max-width: 991px) {
        .div-406-002 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }
    }
    /*-------------
    Javascript Game
    -------------*/
    
    #section-111-001 {
        height: auto;
        width: 100%;
        background-color: #1b1b1b;
        color: white;
    }
    
    #section-111-002 {
        height: auto;
        width: 100%;
        background-color: #1b1b1b;
        color: white;
    }
    
    .navbar1 {
        background-size: auto;
        background-color: #1b1b1b;
        height: 80px;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
        justify-content: space-between;
        position: fixed;
    }
    
    .div-113-001 {
        padding-top: 100px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    
    #div-114-001 {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
    }
    
    #div-114-002 {
        text-align: center;
    }
    
    .div-113-002 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-right: 0px;
    }
    
    .div-113-003 {
        margin-top: 120px;
    }
    
    .div-113-004 {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 14px;
        text-transform: none;
        margin-bottom: 50px;
    }
    
    .div-113-005 {
        font-weight: 300;
        margin-top: 30px;
        font-size: 19px;
        margin-bottom: 0px;
    }
    
    #startBtn {
        font-size: 25px;
        z-index: 100;
        cursor: pointer;
        text-align: center;
        background-color: white;
        padding: 18px 43px;
        border-radius: 15px;
        color: #1b1b1b;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        margin-top: 60px;
        margin-left: 40%;
    }
    
    #restartBtn {
        font-size: 25px;
        z-index: 0;
        opacity: 0;
        cursor: pointer;
        text-align: center;
        background-color: white;
        padding: 18px 28.8px;
        border-radius: 15px;
        color: #1b1b1b;
        font-weight: bold;
        display: inline-block;
        margin-top: -70px;
        margin-left: 40%;
    }
    
    #restartBtn:hover {
        background-color: red;
        color: white;
    }
    
    #startBtn:hover {
        background-color: red;
        color: white;
    }
    
    #game {
        width: 800px;
        height: 700px;
        border: 1px solid white;
        margin: auto;
        overflow: hidden;
        background-color: #1b1b1b;
    }
    
    #character {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        position: relative;
        top: 400px;
        left: 190px;
        opacity: 0;
        z-index: 0;
    }
    
    .block {
        width: 800px;
        height: 20px;
        background-color: white;
        position: relative;
        top: 100px;
        margin-top: -20px;
    }
    
    .hole {
        width: 40px;
        height: 20px;
        background-color: #1b1b1b;
        position: relative;
        top: 100px;
        margin-top: -20px;
    }